body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  border: 2px dashed black;
  overflow: hidden; /* 防止滾動條 */
}

#info {
  text-align: center;
}

#info p {
  margin: 10px 0;
  font-size: 1.5em;
}
